@import "tailwindcss";

@font-face {
  font-family: 'Tars-mono';
  src: url("/fonts/TarsMonoSmooth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*{
  font-family: 'Tars-mono';
  
}



@media (max-width: 1024px) {
  .content {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}