
@import "tailwindcss";

@theme {
  --color-gruv-selection: #8ec07c;
  --color-gruv-bg: #fbf1c7;
  --color-gruv-text: #3c3836;
  --color-gruv-accent: #d79921;
  --color-gruv-blue: #076678;
  
}

@font-face {
  font-family: 'Tars-mono';
  src: url("/fonts/TarsMonoSmooth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Space-mono';
  src: url("/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Tars-mono';
}

p, nav {
  font-family: 'Space-Mono';
}




