
@import "tailwindcss";

@font-face {
  font-family: 'Tars-mono';
  src: url("/fonts/TarsMonoSmooth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Space-mono';
  src: url("/fonts/Space_Mono/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Tars-mono';
}

p, nav, #bloglist {
  font-family: 'Space-Mono';
}

