@import "tailwindcss";

@font-face {
  font-family: 'Tars-Mono';
  src: url("/TarsMonoSmooth.ttf");
}
*{
  font-family: 'Tars-Mono';
}


@media (max-width: 1024px) {
  .content {
    padding-right: 10rem;
    padding-left: 10rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}